<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cassowary - home page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <style>
         .container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
         }
    </style>
</head>
<body>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>

    <div class="container">
        <div>
            <h1>Welcome to Cassowary</h1>
        <div>
            {% if users %}
            <h2>
                Choose a user to see it's snapshots -
            </h2>
            <div class="list-group">
            {% for user in users %}
              <a class="list-group-item list-group-item-action" href="users/{{ user.user_id }}">{{ user.user_name }}</a>
            {% endfor %}
            </div>
        {% else %}
            No users found!
        {% endif %}
        </div>
        </div>


    </div>



</body>
</html>