<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cassowary - user page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <style>
         .snapshotImage {
            width: 250px;
         }
    </style>
</head>
<body>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ user.user_name }}</li>
      </ol>
    </nav>

    <div class="row">
        <div class="col-3">
            <div class="card m-3" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ user.user_name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ snapshots|length }} snapshots</h6>
                <p class="card-text">Age: {{ user.age }}</p>
                <p class="card-text">Gender: {{ "male" if user.gender == 'm' else "female" }}</p>
              </div>
            </div>
        </div>
        <div class="col">
            <h1>Snapshots</h1>

            {% if snapshots %}
                <table class="table">
                    <tr>
                        <th>Date</th>
                        <th>Pose</th>
                        <th>Feeling</th>
                        <th>Color image</th>
                        <th>Depth Image</th>
                    </tr>
                {% for snapshot in snapshots %}
                <tr>
                    <td>{{snapshot.date}}</td>
                    <td><span class="badge badge-secondary">x: {{"%.2f"|format(snapshot.x)}}, y: {{"%.2f"|format(snapshot.y)}}, z: {{"%.2f"|format(snapshot.z)}}</span></td>
                    <td>
                        <div></div><span class="badge badge-primary">{{"%.2f"|format(snapshot.feelings.hunger)}} Hunger</span></div>
                        <div><span class="badge badge-secondary">{{"%.2f"|format(snapshot.feelings.exhaustion)}} Exhaustion</span></div>
                        <div><span class="badge badge-success">{{"%.2f"|format(snapshot.feelings.happiness)}} Happiness</span></div>
                        <div><span class="badge badge-danger">{{"%.2f"|format(snapshot.feelings.thirst)}} Thirst</span></div>
                    </td>
                    <td>
                         <div class="media">
                           <img class="snapshotImage" src="/users/{{user.user_id}}/snapshots/{{snapshot.timestamp}}/color_image/data" alt="Color image" />
                        </div>
                    </td>
                    <td>
                        <div class="media">
                           <img class="snapshotImage" src="/users/{{user.user_id}}/snapshots/{{snapshot.timestamp}}/depth_image/data" alt="Depth image" />
                        </div>
                    </td>
                </tr>
                {% endfor %}

             </table>

            {% else %}
                No snapshots were found!
            {% endif %}

        </div>
    </div>


</body>
</html>